{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@prettier/plugin-sort-imports"],
  "imports利润率": {
    "order": [
      "^(react|react-dom|react-router|@tanstack/react-query)(.*)$",
      "^(pyxis-components|@pyxis-components)(.*)$",
      "^(./.*|../.*)(.*)$",
      "^(.*)(.*)$"
    ]
  }
}
